# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/
env/
.env

# Unit test / coverage reports
.pytest_cache/
.mypy_cache/
.tox/
.nox/
coverage.xml
.coverage*
htmlcov/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Editors
.vscode/
.idea/

